:root {
    --background-secondary-lighter: #0E0F0E;
    --bg-secondary: #111211;
    --bg-tertiary: #181A18;
    --bg-primary: #0F0F0F;
    --background-primary: #0B0E0B;
    --background-secondary: #101210;
    --background-secondary-alt: #0E0F0E;
    --background-tertiary: #141714;
    --background-textarea: #0B0E0B;
    --accent-primary: #228514;
    --brand-primary: #228514;
    --brand-secondary: #228514;
    --brand-primary-light: #5BD649;
    --bg-code: #030202;
    --background-header-primary: #0B0E0B;
    --background-header-secondary: #0B0E0B;
    --background-header-primary-hover: #0B0E0B;
}

.NativeTitlebar\.module__controlButton___ZWZkOD{
    border-radius: 0;
    border: 2px solid var(--background-tertiary);
    height: 100%;
    width: 64px;
    transition-duration: 150ms;
}
.NativeTitlebar\.module__controlButton___ZWZkOD:hover {
    background:transparent;
    border-color: var(--accent-primary);
}
.NativeTitlebar\.module__closeButton___ZWZkOD:hover {
    background:transparent;
    border-color: #e81123;
}
.NativeTitlebar\.module__controls___ZWZkOD {
    height: 32px;
    column-gap: 2px;
}
.NativeTitlebar\.module__titlebar___ZWZkOD {
    padding: 0;
    gap: 2px;
}
.NativeTitlebar\.module__spacer___ZWZkOD {
    display: none;
}
.NativeTitlebar\.module__left___ZWZkOD:hover{ /* Impossible due to drag region of electron */
    border-color: var(--accent-primary);
}
.NativeTitlebar\.module__left___ZWZkOD{
    flex-grow: 1;
    overflow: hidden;
    border: 2px solid var(--background-tertiary);
    height: 100%;
    transition-duration: 150ms;
}
.NativeTitlebar\.module__left___ZWZkOD svg {
    left: 50dvw;
    transform: translateX(-50%);
    position: relative;
}
.GuildsLayout\.module__guildListScrollContainer___XzkwZG {
    margin-top: 2px;
    border-radius: 0;
    border: 2px solid var(--background-tertiary);
    box-sizing: border-box;
    transition-duration: 150ms;
}
.GuildsLayout\.module__guildListScrollContainer___XzkwZG:hover {
    border-color: var(--accent-primary);
}
.GuildsLayout\.module__guildListScrollerWrapper___XzkwZG {
    padding-bottom: 5px;
}
.GuildsLayout\.module__userAreaWrapper___XzkwZG {
    border-radius: 0;
    border: 2px solid var(--background-tertiary);
    box-sizing: border-box;
    transition-duration: 150ms;
}
.UserArea\.module__separator___XzEyMT {
    display: none;
}
.GuildsLayout\.module__userAreaWrapper___XzkwZG:hover {
    border-color: var(--accent-primary);
}
.UserArea\.module__userAreaContainer___XzEyMT {
    min-height: calc(var(--layout-user-area-height) - 4px);
    height: calc(var(--layout-user-area-height) - 4px);
}

.GuildsLayout\.module__guildListScrollContainer___XzkwZG {
padding-top: 0;
}

.GuildsLayout\.module__guildListTopSection___XzkwZG {
    position: sticky;
    top: 0;
    z-index: 5;
    padding-top: 6px;
    background: var(--background-secondary);
    box-shadow: 0px 3px 6px 6px var(--background-secondary);
}

.GuildsLayout\.module__guildListTopSection___XzkwZG {
    gap: 0;
}

.GuildsLayout\.module__fluxerButton___XzkwZG .GuildsLayout\.module__guildListItem___XzkwZG {
    margin-bottom: 6px;
}

.ScrollIndicatorOverlay\.module__indicatorSlot___XzU2Yj.ScrollIndicatorOverlay\.module__indicatorSlotTop___XzU2Yj > 
.ScrollIndicatorOverlay\.module__indicator___XzU2Yj.ScrollIndicatorOverlay\.module__indicatorMention___XzU2Yj {
    top: 146px;
    position: fixed;
}

.ScrollIndicatorOverlay\.module__indicator___XzU2Yj.ScrollIndicatorOverlay\.module__indicatorMention___XzU2Yj, .ScrollIndicatorOverlay\.module__indicator___XzU2Yj {
    border-radius: 0;
}

.GuildsLayout\.module__guildIndicatorBar___XzkwZG {
    border-radius: 0;
    transition-duration: 150ms;
}
.GuildFolderItem\.module__folderIndicatorBar___XzQ1Nz {
    border-radius: 0;
    transition-duration: 150ms;
}

.GuildsLayout\.module__guildListScrollerWrapper___XzkwZG:hover :has(.GuildsLayout\.module__guildIndicatorBar___XzkwZG) > .GuildsLayout\.module__guildIndicatorBar___XzkwZG {
    background: var(--accent-primary);
}

.GuildsLayout\.module__guildListScrollerWrapper___XzkwZG:hover :has(.GuildFolderItem\.module__folderIndicatorBar___XzQ1Nz) > .GuildFolderItem\.module__folderIndicatorBar___XzQ1Nz {
    background: var(--accent-primary);
}
.GuildFolderItem\.module__collapsedFolderBackground___XzQ1Nz {
    background: transparent;
    border-radius: 0;
    border: 2px solid var(--folder-surface);
    transition-duration: 150ms;
}

.GuildsLayout\.module__guildListItemSlot___XzkwZG:hover .GuildFolderItem\.module__collapsedFolderBackground___XzQ1Nz{
    background: var(--folder-surface);
    border-color: rgb(from var(--folder-surface) calc(r * 2) calc(g * 2) calc(b * 2));
}

.GuildsLayout\.module__guildVoiceBadgeInner___XzkwZG {
    border-radius: 0;
}

.GuildFolderItem\.module__miniGuildIcon___XzQ1Nz {
    border-radius: 0;
    transition-duration: 150ms;
}

.GuildsLayout\.module__guildListItemSlot___XzkwZG:hover :has(.GuildsLayout\.module__guildVoiceBadgeInner___XzkwZG) > .GuildsLayout\.module__guildVoiceBadgeInner___XzkwZG {
    box-shadow: 0 0 0 3px rgb(from var(--folder-surface) calc(r * 2) calc(g * 2) calc(b * 2));
}

.GuildFolderItem\.module__expandedFolderBackground___XzQ1Nz {
    width: calc((100% - var(--folder-expanded-surface-size)) / 2.0 + var(--folder-expanded-surface-size) + 10px);
    left: calc((100% - var(--folder-expanded-surface-size)) / 2.0 + 50% - 8px);
    border-radius: 0;
    border: 2px solid var(--folder-surface);
    border-right: none;
    background: transparent;
    transition-duration: 150ms;
}

.GuildFolderItem\.module__folderContainer___XzQ1Nz:hover .GuildFolderItem\.module__expandedFolderBackground___XzQ1Nz {
    border-color: rgb(from var(--folder-surface) calc(r * 2) calc(g * 2) calc(b * 2));
    background: var(--folder-surface);
}

.GuildsLayout\.module__guildIcon___XzkwZG {
    border-radius: 0 !important;
    transition-duration: 150ms;
    margin-left: 0px;
    transition-property: margin-left;
}

.GuildsLayout\.module__guildListItem___XzkwZG:hover .GuildsLayout\.module__guildIcon___XzkwZG {
    margin-left: 8px;
}

.GuildsLayout\.module__guildIconSelected___XzkwZG {
    border-radius: 0 !important;
    margin-left: 8px;
}

.GuildsLayout\.module__addGuildButtonIcon___XzkwZG {
    border-radius: 0 !important;
}

.GuildsLayout\.module__guildBadgeActive___XzkwZG, .MentionBadge\.module__badge___XzgyZG {
    border-radius: 0;
}
.GuildFolderItem\.module__folderHeader___XzQ1Nz.GuildFolderItem\.module__dropIndicatorInside___XzQ1Nz :has(.GuildFolderItem\.module__collapsedFolder___XzQ1Nz) > .GuildFolderItem\.module__collapsedFolder___XzQ1Nz {
    border-radius: 0;
}
.GuildsLayout\.module__combinePreviewGrid___XzkwZG {
    border-radius: 0;
}
.GuildsLayout\.module__guildDivider___XzkwZG {
    opacity: 0;
}

/* #region Custom theme css input field */
.FormSurface\.module__surface___XzQ4ZT.Input\.module__input___ZGQ3MT.Scroller\.module__scroller___ZTgyZD.Input\.module__focusable___ZGQ3MT {
    min-height: 512px !important;
    max-height: none !important;
    border-radius: 0;
    border: 2px solid var(--background-tertiary);
    background: var(--background-secondary);
    transition-duration: 150ms;
}

.FormSurface\.module__surface___XzQ4ZT.Input\.module__input___ZGQ3MT.Scroller\.module__scroller___ZTgyZD.Input\.module__focusable___ZGQ3MT:hover {
    border-color: var(--accent-primary);
}
.GuildLayout\.module__guildLayoutContent___Xzk4ZG {
    column-gap: 2px;
}
/* #endregion */

.Button\.module__button___Yzg1Yz {
    border-radius: 0;
}

/* #region main messaging body */
html.platform-native:not(.platform-macos) .GuildsLayout\.module__outlineFrame___XzkwZG {
    --outline-radius: 0;
    margin-top: 2px;
    margin-left: 2px;
    border: none;
}
.OutlineFrame\.module__divider___ZmU4ZG {
    display: none;
}
/* #endregion */

/* #region Guild sidebar */
.GuildLayout\.module__guildLayoutContent___Xzk4ZG {
    grid-template-columns: calc(var(--layout-sidebar-width) - 2px) minmax(0, 1fr);
    column-gap: 2px;
}

html.platform-native:not(.GuildNavbar\.module__platform-macos___Xzc4Nm) .GuildNavbar\.module__guildNavbarContainer___Xzc4Nm {
    border-radius: 0;
    border: 2px solid var(--background-tertiary);
    width: calc(var(--layout-sidebar-width) - 2px);
    height: calc(100% - var(--layout-user-area-height) - 4px);
    background: none;
    transition-duration: 150ms;
}
html.platform-native:not(.GuildNavbar\.module__platform-macos___Xzc4Nm) .GuildNavbar\.module__guildNavbarContainer___Xzc4Nm:hover {
    border-color: var(--accent-primary);
}
.ChannelItem\.module__channelItemSelected___Xzk5Zm {
    background: none;
    color: var(--accent-primary);
}
.ChannelItem\.module__container___Xzk5Zm:has(.ChannelItem\.module__channelItemSelected___Xzk5Zm) .ChannelItem\.module__container___Xzk5Zm {
    padding-left: 8px;
}
.ChannelItemSurface\.module__channelItemSurface___YTdjZW:hover {
    color: var(--accent-primary);
    background: none;
    padding-left: 8px;
}
.ChannelItem\.module__container___Xzk5Zm {
    transition-duration: 150ms;
}
.ChannelItem\.module__container___Xzk5Zm:hover {
    color: var(--accent-primary);
    background: none;
    padding-left: 8px;
}

.ScrollerTrack\.module__vertical___YzkyYz .ScrollerTrack\.module__thumb___YzkyYz {
    border-radius: 0;
}
.ScrollerTrack\.module__vertical___YzkyYz .ScrollerTrack\.module__thumb___YzkyYz:hover {
    background: var(--accent-primary);
}
/* #endregion */

/* #region settings */
#root {
    filter: blur(0px);
    transition-duration: 150ms;
}
:has(.Modal\.module__modalBackdrop___XzA4MW) :has(#root)>#root {
    filter: blur(4px);
}

/* #endregion */